{% extends 'base.html' %}

{% block content %}
<iframe src="https://calendar.google.com/calendar/embed?src=kkmaib5s0i9pleokgllhhqtqu0%40group.calendar.google.com&ctz=Asia%2FBangkok" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
<h1>Главная</h1>
<ul>
    <li>по-быстрому заделаем контент</li>
    <li>вопрос со шрифтами закроем</li>
    <li>and we will keep our intent</li>
    <li>good luck, и, короче, не ноем!</li>
</ul>
<p>текст обычный, <b>текст жирный, </b><i>текст курсивом, </i><b><i>текст жирным курсивом</i></b></p>
<p>text regular, <b>text bold, </b><i>text italic, </i><b><i>text bold italic</i></b></p>
<h2>Ну и стандартный lorem ipsum:</h2>
<p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот.</p>

<p><i>Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти в большой мир грамматики. Великий Оксмокс предупреждал ее о злых запятых, диких знаках вопроса и коварных точках с запятой, но текст не дал сбить себя с толку.</i></p>

<p>Он собрал семь своих заглавных букв, подпоясал инициал за пояс и пустился в дорогу. Взобравшись на первую вершину курсивных гор, бросил он последний взгляд назад, на силуэт своего родного города Буквоград, на заголовок деревни Алфавит и на подзаголовок своего переулка Строчка. Грустный риторический вопрос скатился по его щеке и он продолжил свой путь.</p>

<p>По дороге встретил текст рукопись. Она предупредила его: «В моей стране все переписывается по несколько раз. Единственное, что от меня осталось, это приставка «и». Возвращайся ты лучше в свою безопасную страну». Не послушавшись рукописи, наш текст продолжил свой путь.</p>

<p>Вскоре ему повстречался коварный составитель рекламных текстов, напоивший его языком и речью и заманивший в свое агенство, которое использовало его снова и снова в своих проектах. И если его не переписали, то живет он там до сих пор. Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая</p>
<div lang="en">
<p>Lorem ipsum dolor sit amet, ad zril ceteros atomorum per. Mel paulo nobis ut, vivendum detraxit erroribus usu no. Ne porro placerat ius. Vix suas accusam laboramus et, est consul fierent ex, in pro tantas quaerendum. Pri no falli delenit persecuti, modo laudem te sed.</p>
<p><i>Et aeque sonet qui. Assum iudico in pri, ut denique tractatos necessitatibus vix. Vim affert aliquip invenire ut, viris tollit aperiri qui no. Te eam assum epicurei ponderum. Ad mazim intellegebat est. Probo percipitur ad sed.</i></p>
<p>Unum phaedrum ex eum, possim audiam feugiat vis ei. Mea magna atqui cu, te ius quem dolorum, est brute putant definitiones in. Te habemus salutandi vix. Ut pri tota admodum, pri malis choro regione an. Per quas similique ad, commune sadipscing est ut, pri te quod doming. Nec tollit menandri te, eum cu timeam inimicus dissentiet, sale audiam signiferumque vis eu.</p>
<p>Nonumy fabellas inciderint vel an. Ius eu vide illud elitr, no autem altera temporibus pro. Per debet noluisse at, an ius diam suscipiantur. Fabulas meliore pertinacia qui ne, eam tollit gubergren moderatius te, quot invidunt id mea.</p>
<p>Quo te mazim atomorum. An laudem omittam consequat duo, voluptua voluptaria quo te. Ea vix alienum democritum. Te elit admodum duo, pri autem principes</p>
</div>
{% endblock %}