<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    {# <meta http-equiv="X-UA-Compatible" content="IE=edge"> #}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if title %}
    <title>{{title}} - „Полифония“, Новосибирск</title>
    {% else %}
    <title>„Полифония“, Новосибирск</title>
    {% endif %}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-grey.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    <div class="w3-card-2" style="z-index: 2;">
        <header id="main_header" class="w3-theme-d5 w3-row-padding">

            <div class="logo w3-col w3-mobile" style="width:50%; max-width: 250px;">
                <a href="/" class='logo'>
                <div class="logo_header">ПОЛИ<span class="spetial_font">f</span>ОНИЯ</div>
                <div class="logo_sub">
                    вокал • фортепиано
                </div></a>
            </div>
            <div class="w3-red w3-col">ВНИМАНИЕ! ОПЛАТА ОНЛАЙН ВРЕМЕННО НЕ ПРИНИМАЕТСЯ!</div>
        </header><!-- /header -->
        <nav class="w3-theme-d4 w3-bar">
            {% for item in menu_items %}
                <a class="w3-bar-item w3-button {% if item.active==True %}w3-theme-d3{% endif %} w3-mobile menu_item" href={{item.route}}>{{item.text}}</a>
            {% endfor %}
        </nav>
    </div>
    
    {# <main class="main_content"> #}
    <main class="w3-container w3-padding w3-theme-d5 w3-card-2" style="max-width: 800px; margin: auto;">
        {# <div class="" style="max-width: 800px;"> #}
            {% block content %}{% endblock %}
        {# </div> #}
    </main lang="ru">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div id="flashbar" class="w3-bar w3-bottom w3-animate-opacity w3-theme-d4 w3-padding">
            <ul class="w3-bar-item" style="width: 89%;">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            <button id="flashCloseButton" class="w3-bar-item w3-button" style="width: 10%;" onclick="document.getElementById('flashbar').style.display='none'">X</button>
        </div>
        {% endif %}
    {% endwith %}
    <footer class="w3-padding">
        <div class="w3-container" style="padding: 0">
        <a class="w3-button w3-col w3-mobile w3-theme-d6" href="/pay_rules">правила безопасной оплаты</a>
        <div class="w3-col w3-mobile w3-theme-d7" style="font-size: 10pt; font-family: sans;">ИП Казанцев Тимофей Дмитриевич; юр. адрес: г. Новосибирск, ул. Грибоедова, д. 68; ИНН 540528657989.</div><div class="w3-col w3-mobile w3-theme-d6" style="font-size: 12pt; font-family: sans;">Мы работаем по адресу ул. Горького, д. 85, красный цоколь с фасада, домофон №3, тел. +7(923)-235-80-40</div>
        </div>
    </footer>
</body>
</html>