{% extends 'base.html' %}

{% block content %}
	<form method='POST' action='https://polifonia-nsk.server.paykeeper.ru/create/' >
	<!-- <form method='POST' action='' > -->
		  		<div class="w3-container w3-mobile">
			  		{{form.sum.label}}
			    	<div class="main_small">в том числе {{comission}} ₽ комиссии за безналичный рачёт.</div>
			    </div>
			    <div class="w3-container w3-mobile">
			    	{{form.sum(readonly=True)}}
			    </div>
			    <hr>
				<div class="w3-container w3-mobile">
		    		<p>{{form.service_name.label}}</p>
		    	</div>
		    	<div class="w3-container w3-mobile">
			  		<p>{{form.service_name(readonly=True)}}</p>
		    	</div>
		    	<hr>
		    	<div class="w3-container w3-mobile">
		  			<p>{{form.clientid.label}}</p>
		  		</div>
		  		<div class="w3-container w3-mobile">
			  		<p>{{form.clientid}}</p>
		  		</div>
		  		<hr>
		  	<p>{{form.submit}}</p>
	</form>
{% endblock %}